* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 6fr 94fr;
  grid-template-rows: 125px 1fr;
}

.navbar {
  padding-top: 1.2rem;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav-icon {
  width: 10%;
  height: 10%;
}

.search {
  width: 50%;
  position: relative;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.search-input {
  width: 90%;
  padding: 1.2rem;
  border-radius: 100px;
  border: 1px solid #444;
}

.search-icon {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  padding: 1.2rem;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 10%;
  height: 100%;
  background-color: #444;
  color: #fff;
}

.mic-icon {
  width: 7%;
  height: 7%;
  padding: 1.2rem;
  border-radius: 50%;
  background-color: #444;
  fill: #fff;
}

.nav-items {
  width: 15%;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.user-img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.bottom-nav {
  padding: 1.6rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.btn {
  padding: 1.2rem;
  border: none;
  border-radius: 11px;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.sidebar {
  grid-row: 1/3;
  padding-top: 2.4rem;
}

.sidebar-ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.sidebar-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-icon {
  width: 35%;
  height: 35%;
}

.sidebar-p {
  margin-top: 0.6rem;
  font-size: 1.2rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 450px 450px;
  gap: 2.4rem;
  padding: 2.4rem;
}

.video-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.video-img {
  width: 100%;
  height: 70%;
  border-radius: 15px;
}

.video-details {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.video-text {
  font-size: 1.6rem;
  font-weight: 700;
}

.creator-name,
.date {
  font-size: 1.2rem;
  font-weight: 500;
}

.video-title {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.video-creator {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
}

.extra-info {
  margin-left: 3.6rem;
}
